/build/.installed.cfg
/build/bin
/build/parts
/build/var/*
/build/etc
/build/node_modules
/.idea

*.swp
*.py[co]
*.egg-info
*.egg-link
.hyde_deps
.DS_Store
*.sublime-project
*.sublime-workspace
build/downloads
build/eggs
missing_versions.cfg

