/.installed.cfg
/bin
/parts
/var/*
/etc
/node_modules
/.idea
/eggs

*.swp
*.py[co]
*.egg-info
*.egg-link
.hyde_deps
.DS_Store
*.sublime-project
*.sublime-workspace
build/downloads
build/eggs
missing_versions.cfg

/build/*